.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  flex: 0 0 auto;
  background: #282c34;
}

#navbar-button {
  width: 8vw;
  height: 2.6vw;
  display: flex;
  justify-content: space-around;
  background-color: rgba(52, 56, 65, 1);
  border-radius: 5px;
}

.navbar-right {
  width: 150px;
  display: flex;
  vertical-align: middle;
  justify-content: space-around;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);

}

.navbar-left {
  width: 150px;
  display: flex;
  justify-content: space-around;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);

}

#navbar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  flex: 0 0 auto;
}

.navbar-logo {
  margin-top: 2.2vw;
  display: flex;
  justify-content: space-around;
}

svg {
  width: 6vw;
  height: 6vw;
  animation: rotate 3s ease-in, kaboom 3s 3s ease alternate;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes hideshow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes kaboom {
  80% {
    transform: scale(0.9);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

g {
  fill: white;
  opacity: 0.9;
}

.navbar-title {
  margin-top: 1vw;
  display: flex;
  justify-content: space-around;
  font-size: 3.5vw;
  color: white;
  text-shadow: 2px 2px #727272;
}

a {
  text-decoration: none;
  font-size: 1.6vw;
  color: white;
}

a:hover {
  color: #10ebe0;
}

/* main area */

#main {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#search-box-container {
  display: flex;
}

#map-container {
  display: flex;
  height: 70vh;
  width: 100%;
  border: 6px solid rgb(71, 71, 71);
  border-radius: 4px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);
}

/* auth form */

.auth-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 400px;
}

.form-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-submit {
  width: 100px;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #45a049;
}

.map-text-background {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: indianred;
  display: flex;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.map-text {
  padding: 3px;
  color: black;
}

#alert {
  left: -1300px;
  width: 600px;
  height: 40px;
  border-radius: 10px;
  background-color: rgba(210, 212, 219, 1);
  /* display: flex; */
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 30px;
  opacity: 0.7;
  border: 2px solid rgba(52, 56, 65, 1);
  -webkit-animation: slide 5s forwards;
  -webkit-animation-delay: 2s;
}

@keyframes slide {
  100% {
    left: 0;
  }
}

#alert-text {
  padding: 3px;
  font-size: 2.5em;
  color: rgba(52, 56, 65, 1);
  font-weight: bold;
}

#search-box {
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 5px;
  height: 30px;
  text-align: center;
}
#search-button {
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 5px;
  height: 33px;
  text-align: center;
}
